<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Libros</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container">
    <h1>Crear Nuevo Libro</h1>
    <form id="formLibro">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required>

        <button type="submit">Crear Libro</button>
    </form>

    <form id = "formBuscar">
    </form>


    <div id="mensaje"></div>
</div>

<script src="index.js"></script>
</body>
</html>